<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  	<link rel="stylesheet" href="{{ url_for('static', filename='suppliers.css') }}">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700&display=swap" rel="stylesheet">
    <title>Suppliers</title>
</head>
<body>
    <div class="sticky">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
              <img src=static/images/company_logo.png class="nav_logo" alt="nav logo">
          </a>
          <a class="navbar-brand" href="profile">Profile</a>
          <a class="navbar-brand" href="products">Products</a>
          {% if user_session.user_type=="Admin" %}
            <a class="navbar-brand" href="suppliers">Suppliers</a>
            <a class="navbar-brand" href="generate_random">Randomize</a>
          {% endif %}
      </nav>
    </div>
    <div class="centered">
        <ul class="list-group list-group-flush">
            {% for user in user_list %}
            {% if user.user_type=="Supplier" %}
                <div class="supplier">
                    <li class="list-group-item">
                        <h6 class="f-w-600">{{user.username}}</h6>
                        {% if user.has_contact_info=="yes" %}
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">Email: {{user.email}}</li>
                                <li class="list-group-item">Phone: {{user.phone}}</li>
                                <li class="list-group-item">Product: {{product_and_iva[user.username][0].name}}</li>
                            </ul>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">Address: {{user.address}}</li>
                                <li class="list-group-item">CIF: {{user.CIF}}</li>
                                <li class="list-group-item">IVA: {{product_and_iva[user.username][1]}}%</li>
                            </ul>
                        {% endif %}
                        {% if user.has_contact_info=="no" %}
                            <li class="list-group-item">This supplier has not submitted their contact information yet.</li>
                        {% endif %}
                    </li>
                </div>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</body>
</html>